{% extends "layout.html" %}

{% block title %}
    Portofolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for x in range(limit) %}
                <tr>
                    <td>{{ stock[x]['symbol'] }}</td>
                    <td>{{ data[x]['name'] }}</td>
                    <td>{{ stock[x]['share'] }}</td>
                    <td>{{ data[x]['price'] }}</td>
                    <td>{{ data[x]['value'] }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}